body {
	font-size: 14px;
	font-style: bold;
	color: #333;
	background-color: #fff;
	letter-spacing: 1px;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation {
	z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
	width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation a.prev {
	left: 20px;
	background-image: url(img/icons/prev.png);
}

.slides-navigation a.next {
	right: 20px;
	background-image: url(img/icons/next.png);
}

.titleMessage {
	position: absolute;
	width: 100%;
	height: 250px;
	top: 50%;
	z-index: 6;
	text-align: center;
	margin-top: -125px;
}

.titleMessage .heading p {
	color: #fff;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
	font-weight: 120;
	letter-spacing: 6px;	
}

.titleMessage .heading .main {
	font-size: 75px;
}

.titleMessage .heading .sub {
	font-size: 35px;
}

.section {
	padding: 100px 0;
}

.profileImage {
	max-width: 100%;
}

.skillsSection {
	background-color: #3498db;
	color: #fff;
}