body {
	font-size: 14px;
	font-style: bold;
	color: #333;
	background-color: #fff;
	letter-spacing: 1px;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation {
	z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
	width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation a.prev {
	left: 20px;
	background-image: url(img/icons/prev.png);
}

.slides-navigation a.next {
	right: 20px;
	background-image: url(img/icons/next.png);
}

.titleMessage {
	position: absolute;
	width: 100%;
	height: 250px;
	top: 50%;
	z-index: 6;
	text-align: center;
	margin-top: -125px;
}

.titleMessage .heading p {
	color: #fff;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
	font-weight: 120;
	letter-spacing: 6px;	
}

.titleMessage .heading .main {
	font-size: 75px;
}

.titleMessage .heading .sub {
	font-size: 35px;
}

.section {
	padding: 100px 0;
}

.profileImage {
	max-width: 100%;
}

.skillsSection,
.contactSection {
	background-color: #3498db;
	color: #fff;
}

.skill {
	text-align: center;
	margin-left: 10px;
}

.chart {
	position: relative;
	width: 152px;
	height: 152px;
	display: inline-block;
	text-align: center;
}

.chart canvas {
	position: absolute;
	left: 0;
	top: 0;
}

.chart .percent {
	color: #000;
	line-height: 152px;
	display: inline-block;
	font-size: 35px;
}

.chart .percent:after {
	content: '%';
}

.squareItem {
	margin-top: 30px;
	position: relative;
}

.squareInnerContainer {
	position: relative;
	padding: 50px 15px 35px;
	text-align: center;
	border: 2px solid #444;
	border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
	content: '';
	position: absolute;
	top: 0px;
	width: 30%;
	border-bottom: 2px solid #444;
}

.squareInnerContainer:before {
	right: 0px;
}

.squareInnerContainer:after {
	left: 0px;
}

.squareContent h2 {
	font-size: 56px;
	margin-bottom: 10px;
	font-weight: 400;
	color: #00BCD4;
}

.squareContent h3 {
	font-size: 18px;
	font-weight: 600;
	margin: 0;
}

.squreIcon {
	position: absolute;
	left: 50%;
	top: -30px;
	width: 40%;
	height: 60px;
	font-size: 45px;
	margin-left: -20%;
	color: #444;
}

.contactButton {
	color: #fff;
	padding: 15px 20px;
	display: inline-block;
	margin-top: 20px;
	font-size: 20px;
	border: 1px solid #fff;
	border-radius: 8px;

}

.contactButton:hover {
	text-decoration: none;
	color: #3498db;
	background-color: #fff;
}

.filter a {
	color: #607D8B;
	border:1px solid #607D8B;
	padding: 10px;
	display: block;
	border-radius: 25px;
}

.filter li {
	display: inline-block;
	padding: 5px;
}

.filter .current {
	background-color: #00BCD4;
	border-color: #00BCD4;
	color: #fff;
}

.filter {
	text-align: center;
	width: 100%;
}

.section .heading {
	text-align: center;
	padding-bottom: 40px;
	width: 100%;
}