/*-------------------------------
[Color Codes]
Dark Red: botc12728;
Light Red: #d82c2e;
Dark Grey: #363b3f;
Dark Grey 2: #b6b7b7;
Social Buttons: #444749;
Light Grey: #f7f8f8;
Bubbles:#BFBFBF;
White: #ffffff;
Black: #000000;
Blue: #3498db;
-------------------------------*/

body { 
	color: #363b3f; 
	background: #f7f8f8; 
}

.section { 
	padding: 30px 0 50px 0px; 
}
.section h1, 
.section h2, 
.section h4 { 
	font-family: "Lato", sans-serif; 
	font-weight: 700; 
	color: #3498db; 
}
.section h3 {
	font-family: "Lato", sans-serif; 
	font-weight: 700; 
	color: #fff; 
}
.section p { 
	font-family: "Lato", sans-serif; 
	font-weight: 400; 
	font-size: 15px; 
	line-height: 24px; 
}
.section .heading { 
	text-align: center; 
	padding-bottom: 40px; 
}
.section .profilePic { 
	text-align: center; 
	margin: 0 auto; 
	float: none; 
}
.section .divider { 
	width: 100px; 
	height: 1px; 
	background: #3498db; 
	margin: 0 auto; 
}

section.colored h1, 
section.colored h2, 
section.colored h3, 
section.colored h4, 
section.colored p { 
	color: white; 
}

.btn, 
.filter a { 
	font-family: "Lato", sans-serif; 
	font-weight: 400; font-size: 14px; 
	text-decoration: none; 
	background: white; 
	color: #b6b7b7; 
	border: 1px solid #b6b7b7; 
	padding: 18px; 
	-webkit-transition: all 0.3s ease-in, 0s; 
	-moz-transition: all 0.3s ease-in, 0s; 
	-o-transition: all 0.3s ease-in, 0s; 
	-ms-transition: all 0.3s ease-in, 0s; 
	transition: all 0.3s ease-in, 0s; 
}

.btn:hover, 
.filter a:hover, 
.btn:focus, 
.filter a:focus { 
	background-color: #3498db; 
	border-color: #3498db; 
	color: white; 
}

.borderBtn { 
	font-family: "Lato", sans-serif;
	font-weight: 700; 
	font-size: 14px; 
	text-decoration: none; 
	color: white; 
	border: 1px solid white; 
	padding: 18px 50px 18px 50px; 
	display: inline-block; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	-ms-border-radius: 3px; 
	-o-border-radius: 3px; 
	border-radius: 3px; 
	-webkit-transition: all 0.3s ease-in, 0s; 
	-moz-transition: all 0.3s ease-in, 0s; 
	-o-transition: all 0.3s ease-in, 0s; 
	-ms-transition: all 0.3s ease-in, 0s; 
	transition: all 0.3s ease-in, 0s; 
}
.borderBtn:hover,  
.borderBtn:focus, { 
	background-color: white; 
	color: #3498db; 
	text-decoration: none; 
}

section .centered { 
	margin: 0 auto; 
	float: none; 
}

.hidethis { 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 0 ")"; 
	filter: alpha(opacity=0); opacity: 0; 
}

.loader { width: 100%; 
	height: 100%; 
	background: white; 
	position: fixed; 
	top: 0px; 
	left: 0px; 
	z-index: 1000; 
}

.loader .inner { 
	width: 100%; 
	height: 100%; 
	background: url(./img/loader1.gif) center center no-repeat; 
}

/*------------------------------------------------------------------
[1. Welcome]
-------------------------------------------------------------------*/

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.4);
}
.slider-container {
	display: none;
}

.slides-navigation {
	margin: 0 auto;
	position: absolute;
	z-index: 11;
	top: 46%;
	width: 100%;
}

.slides-navigation .prev,
.slides-navigation .next {
	position: absolute;
	display: block;
	width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation a.prev {
	left: 20px;
	background-image: url(img/icons/prev.png);
}

.slides-navigation a.next {
	right: 20px;
	background-image: url(img/icons/next.png);
}

.titleMessage {
	position: absolute;
	width: 100%;
	height: 250px;
	top: 50%;
	z-index: 6;
	text-align: center;
	margin-top: -125px;
}

.titleMessage .heading p {
	color: #fff;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
	font-weight: 120;
	letter-spacing: 6px;	
}

.titleMessage .heading .main {
	font-size: 75px;
}

.titleMessage .heading .sub {
	font-size: 35px;
}

/*------------------------------------------------------------------
[2. Navbar]
-------------------------------------------------------------------*/
.navbar-flat {
	background: #3498db;
	margin-bottom: 0px;
	-webkit-border-radius: 0px; 
	-moz-border-radius: 0px; 
	-ms-border-radius: 0px; 
	-o-border-radius: 0px; 
	border-radius: 0px;
}
.navbar-flat .navbar-collapse { 
	text-align: center; 
}
.navbar-flat .navbar-toggle .icon-bar { 
	background: white; 
}
.navbar-flat ul { 
	float: none; 
}
.navbar-flat li { 
	display: inline-block; 
	float: none; 
}
.navbar-flat li a:hover { 
	background: #3498db; 
	color: white; 
}
.navbar-flat li a:focus { 
	background: #3498db; 
	color: white; 
}
.navbar-flat li.active a { 
	background: #3498db; 
	color: white; 
}
.navbar-flat a { 
	font-family: "Lato", sans-serif; font-weight: 700; 
	color: #f7f8f8;
	-webkit-transition: all 0.3s ease-in, 1s; 
	-moz-transition: all 0.3s ease-in, 1s; 
	-o-transition: all 0.3s ease-in, 1s; 
	-ms-transition: all 0.3s ease-in, 1s; 
	transition: all 0.3s ease-in, 1s; 
}
.navbar-flat .navbar-brand { 
	display: none; 
}


/*------------------------------------------------------------------
[3. About]
-------------------------------------------------------------------*/
.hero { 
	background: #3498db; 
	color: white; 
}
.hero .borderBtn,  { 
	margin-top: 20px; 
}
.hero h3 { 
	color: black !important; 
}

.firstSec { 
	padding-top: 30px; 
}

.firstSec.fixed { 
	padding-top: 80px; 
}

.about .about-inner { 
	margin-top: 20px; 
	-webkit-transition: all 0.3s ease-in, 0s; 
	-moz-transition: all 0.3s ease-in, 0s; 
	-o-transition: all 0.3s ease-in, 0s; 
	-ms-transition: all 0.3s ease-in, 0s; 
	transition: all 0.3s ease-in, 0s; 
}

.service { border: 1px solid #e3e5e5; 
	padding-top: 50px; 
	padding-bottom: 50px; 
	text-align: center; 
	color: #3498db; 
	margin-left: -1px; 
	-webkit-transition: all 0.3s ease-in, 1s; 
	-moz-transition: all 0.3s ease-in, 1s; 
	-o-transition: all 0.3s ease-in, 1s; 
	-ms-transition: all 0.3s ease-in, 1s; 
	transition: all 0.3s ease-in, 1s; 
}
.service h3 { 
	color: black; 
	-webkit-transition: all 0.3s ease-in, 0s; 
	-moz-transition: all 0.3s ease-in, 0s; 
	-o-transition: all 0.3s ease-in, 0s; 
	-ms-transition: all 0.3s ease-in, 0s; 
	transition: all 0.3s ease-in, 0s; 
}
.service i { 
	width: 51px; 
	height: 45px; 
	margin: 0 auto; 
	display: block; 
	/*background: url(../images/icons.png) no-repeat; */
	-webkit-transition: all 0.3s ease-in, 0s; 
	-moz-transition: all 0.3s ease-in, 0s; 
	-o-transition: all 0.3s ease-in, 0s; 
	-ms-transition: all 0.3s ease-in, 0s; 
	transition: all 0.3s ease-in, 0s; 
}
.service .heart { background-position: left top; }
.service .bulp { background-position: -51px top; }
.service .graph { background-position: -102px top; }
.service .coding { background-position: -152px top; }
.service .globe { background-position: -204px top; }
.service .music { background-position: -255px top; }
.service .pencil { background-position: -306px top; }
.service .camera { background-position: -357px top; }
.service .vcamera { background-position: -408px top; }
.service .cloud { background-position: -459px top; }

.service:hover, 
.service:focus { 
	background-color: #3498db; 
	border-color: #3498db; 
	color: white; 
}
.service:hover h3, 
.service:focus h3 { 
	color: white; 
}
.service:hover .heart, 
.service:focus .heart { 
	background-position: left bottom; 
}
.service:hover .bulp, 
.service:focus .bulp { 
	background-position: -51px bottom; 
}
.service:hover .graph, 
.service:focus .graph { 
	background-position: -103px bottom; 
}
.service:hover .coding, 
.service:focus .coding { 
	background-position: -152px bottom; 
}
.service:hover .globe, 
.service:focus .globe { 
	background-position: -204px bottom; 
}
.service:hover .music, 
.service:focus .music { 
	background-position: 
	-255px bottom; 
}
.service:hover .pencil, 
.service:focus .pencil { 
	background-position: -306px bottom; 
}
.service:hover .camera, 
.service:focus .camera { 
	background-position: -357px bottom; 
}
.service:hover .vcamera, 
.service:focus .vcamera { 
	background-position: -408px bottom; 
}
.service:hover .cloud, 
.service:focus .cloud { 
	background-position: -459px bottom; }

.img-circle {
	max-width: 100%;
}


/*------------------------------------------------------------------
[4. Skills]
-------------------------------------------------------------------*/
section.skills {
	background: #3498db;
}

section.skills h4 {
	color: black !important;
}

.skill {
	margin: 0 auto 20px auto;
	float: none;
	text-align: center;
}

.chart {
	position: relative;
	width: 152px;
	height: 152px;
	display: inline-block;
	margin: 0 0 25px 0px;
	text-align: center;
}

.chart canvas {
	position: absolute;
	left: 0;
	top: 0;
}

.chart .percent {
	font-family: "Lato", sans-serif;
	color: black;
	line-height: 152px;
	display: inline-block;
	font-size: 35px;
}

.chart .percent:after {
	content: '%';
}

/*------------------------------------------------------------------
[5. Work Experience]
-------------------------------------------------------------------*/
.timeline { float: left; width: 100%; background: url(../images/timelinebg.png) center top repeat-y; padding: 50px 0 42px 0px; /* Animations */ }
.timeline ul { float: left; width: 100%; }
.timeline li { float: left; width: 50%; position: relative; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 0 ")"; filter: alpha(opacity=0); opacity: 0; }
.timeline .point { width: 57px; height: 57px; 
	/*background: url(../images/timeline-item.png); */
	position: absolute; 
	right: -28px; 
	top: 4px; 
}
.timeline .bubble-arrow { width: 16px; height: 25px; background: url(../images/bubbles-arrow.png) left top no-repeat; position: absolute; top: 20px; right: -10px; }
.timeline .bubble { float: right; width: 64.4%; margin: 0px 30px 0 0px; padding: 22px 32px 25px 30px; background: #363b3f; position: relative; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.1); -moz-box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.1); -o-box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.1); -ms-box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.1); box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.1); -webkit-transition: all 0.2s linear, 1s; -moz-transition: all 0.2s linear, 1s; -o-transition: all 0.2s linear, 1s; -ms-transition: all 0.2s linear, 1s; transition: all 0.2s linear, 1s; }
.timeline .bubble:hover { -webkit-transform: scale(1.05, 1.05); -moz-transform: scale(1.05, 1.05); -o-transform: scale(1.05, 1.05); -ms-transform: scale(1.05, 1.05); transform: scale(1.05, 1.05); }
.timeline .bubble p { font-family: "Lato", sans-serif; font-size: 14px; line-height: 1.3; font-weight: 400; color: white; margin: 0px; text-align: left; margin: 0 0 15px 0px; }
.timeline .bubble p.name { font-size: 20px; font-weight: 700; margin: 0px; }
.timeline .bubble p.title { font-size: 14px; font-weight: 400; margin: 0px; }
.timeline .bubble a {font-family: "Lato", sans-serif; font-size: 14px; line-height: 1.3; font-weight: 400; color: white; margin: 0px; text-align: left; margin: 0 0 15px 0px; text-decoration: none;}
.timeline .odd { margin: 80px 0 0 0; }
.timeline .odd .bubble-arrow { left: -10px; right: auto; background-position: right top; }
.timeline .odd .bubble { margin: 0px 0px 0 30px; }
.timeline .odd .point { left: -29px; }
.timeline .odd .timestamp { float: left; }
.timeline .odd .timestamp p.date, .timeline .odd .timestamp p.time { text-align: left; margin: 0 0 0 50px; }
.timeline .odd .timestamp p.date { margin-top: 10px; }
.timeline .odd .bubble { float: left; }
.timeline .odd .bubble img { left: auto; right: -34px; }
.timeline li:nth-child(1) { animation-delay: 0.2s; -webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; -o-animation-delay: 0.2s; -ms-animation-delay: 0.2s; }
.timeline li:nth-child(2) { animation-delay: 0.4s; -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; -o-animation-delay: 0.4s; -ms-animation-delay: 0.4s; }
.timeline li:nth-child(3) { animation-delay: 0.8s; -webkit-animation-delay: 0.8s; -moz-animation-delay: 0.8s; -o-animation-delay: 0.8s; -ms-animation-delay: 0.8s; }
.timeline li:nth-child(4) { animation-delay: 1s; -webkit-animation-delay: 1s; -moz-animation-delay: 1s; -o-animation-delay: 1s; -ms-animation-delay: 1s; }
.timeline li:nth-child(5) { animation-delay: 1.2s; -webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; -o-animation-delay: 1.2s; -ms-animation-delay: 1.2s; }
.timeline li:nth-child(6) { animation-delay: 1.4s; -webkit-animation-delay: 1.4s; -moz-animation-delay: 1.4s; -o-animation-delay: 1.4s; -ms-animation-delay: 1.4s; }
.timeline li:nth-child(7) { animation-delay: 1.6s; -webkit-animation-delay: 1.6s; -moz-animation-delay: 1.6s; -o-animation-delay: 1.6s; -ms-animation-delay: 1.6s; }
.timeline li:nth-child(8) { animation-delay: 1.8s; -webkit-animation-delay: 1.8s; -moz-animation-delay: 1.8s; -o-animation-delay: 1.8s; -ms-animation-delay: 1.8s; }
.timeline li:nth-child(9) { animation-delay: 2s; -webkit-animation-delay: 2s; -moz-animation-delay: 2s; -o-animation-delay: 2s; -ms-animation-delay: 2s; }
.timeline li:nth-child(10) { animation-delay: 2.2s; -webkit-animation-delay: 2.2s; -moz-animation-delay: 2.2s; -o-animation-delay: 2.2s; -ms-animation-delay: 2.2s; }

/*------------------------------------------------------------------
[5. Contact Section]
-------------------------------------------------------------------*/
.contactSection {
	background-color: #3498db;
	color: #fff;
}

.contactButton {
	color: #fff;
	padding: 15px 20px;
	display: inline-block;
	margin-top: 20px;
	font-size: 20px;
	border: 1px solid #fff;
	border-radius: 8px;

}

.contactButton:hover {
	text-decoration: none;
	color: #3498db;
	background-color: #fff;
}

/*------------------------------------------------------------------
[5. Portfolio Section]
-------------------------------------------------------------------*/
.filter a {
	color: #607D8B;
	border:1px solid #607D8B;
	padding: 10px;
	display: block;
	border-radius: 25px;
}

.filter li {
	display: inline-block;
	padding: 5px;
}

.filter .current {
	background-color: #00BCD4;
	border-color: #00BCD4;
	color: #fff;
}

.filter {
	text-align: center;
	width: 100%;
}

.section .heading {
	text-align: center;
	padding-bottom: 40px;
	width: 100%;
}

.items li {
	display: inline-block;
	padding: 5px;
}

.itemsContainer {
	width: 100%;
}

.items li img {
	width: 100%;

	-webkit-transition: all 0.2s linear, 1s;
	-moz-transition: all 0.2s linear, 1s;
	-o-transition: all 0.2s linear, 1s;
	-ms-transition: all 0.2s linear, 1s;
	-transition: all 0.2s linear, 1s;
}

.items .item {
	position: relative;
	display: block;
	overflow: hidden;
}

.items .icons {
	position: absolute;
	width: 90px;
	height: 50%;
	left: 50%;
	top: 50%;
	margin: -10px auto 0 -47px;
	text-align: center;
	z-index: 2;
}

.items .icons i {
	color: #fff;
	font-size: 20px;
	margin-top: 9px;
}

.items a {
	width: 40px;
    height: 40px;
    background-color: #00BCD4;
    position: relative;
    display: inline-block;

	-webkit-transition: all 0.2s linear, 0.5s;
    -moz-transition: all 0.2s linear, 0.5s;
    -o-transition: all 0.2s linear, 0.5s;
    -ms-transition: all 0.2s linear, 0.5s;
    -transition: all 0.2s linear, 0.5s;
}

.items .imageOverlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0px;
	top: 0px;
	opacity: 0;

	-webkit-transition: all 0.2s linear, 1s;
	-moz-transition: all 0.2s linear, 1s;
	-o-transition: all 0.2s linear, 1s;
	-ms-transition: all 0.2s linear, 1s;
	-transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
	opacity: 1;
}

.items .openButton {
	float: left;
	left: -200px;
}

.items .projectLink {
	float: right;
	right: -200px;
}

.items .item:hover .openButton {
	left: 0px;
}

.items .item:hover .projectLink { 
	right: 0px;
}

.items .item:hover img {
	-webkit-transform: scale(1.05, 1.05);
	-moz-transform: scale(1.05, 1.05);
	-o-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
	-transform: : scale(1.05, 1.05);
}

.items {
	padding: 0;
}

/*------------------------------------------------------------------
[5. Footer Section]
-------------------------------------------------------------------*/
footer { background: #363b3f; }
footer p { font-size: 12px; color: white; text-align: center; }
footer ul { width: 100%; text-align: center; margin-top: 20px; }
footer li { display: inline-block; margin: 0 4px; }
footer li a { display: block; text-decoration: none; border-bottom: none; padding: 18px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-transition: all 0.3s ease-in, 1s; -moz-transition: all 0.3s ease-in, 1s; -o-transition: all 0.3s ease-in, 1s; -ms-transition: all 0.3s ease-in, 1s; transition: all 0.3s ease-in, 1s; }
footer .facebook { background: url(img/icons/facebook.png) center no-repeat #fff; }
footer .facebook:hover { background-color: #4265b9; }
footer .twitter { background: url(img/icons/twitter.png) center no-repeat #fff; }
footer .twitter:hover { background-color: #fff; }
footer .github { background: url(img/icons/github.png) center no-repeat #fff; }
footer .github:hover { background-color: #0073b2; }
footer .instagram { background: url(img/icons/instagram.png) center no-repeat #444749; }
footer .instagram:hover { background-color: #956751; }
footer .linkedin { background: url(img/icons/linkedin.png) center no-repeat #444749; }
footer .linkedin:hover { background-color: #0073b2; }


img { max-width: 100%; height: auto; }

.clear { clear: both; }

::selection { background-color: #3498db; color: white; }

::-moz-selection { background-color: #3498db; color: white; }

input, textarea { -webkit-appearance: none; }

/* OWL */
.owl-theme .owl-controls .owl-page span { background: white; }

/* CSS Keyframe Animations */
.animated { -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both; -ms-animation-fill-mode: both; -o-animation-fill-mode: both; animation-fill-mode: both; -moz-animation-timing-function: ease-in-out; -webkit-animation-duration: 1s; -moz-animation-duration: 1s; -ms-animation-duration: 1s; -o-animation-duration: 1s; animation-duration: 1s; }

@-webkit-keyframes fadeInUp { 0% { opacity: 0; -webkit-transform: translateY(20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); } }
@-moz-keyframes fadeInUp { 0% { opacity: 0; -moz-transform: translateY(20px); }
  100% { opacity: 1; -moz-transform: translateY(0); } }
@-o-keyframes fadeInUp { 0% { opacity: 0; -o-transform: translateY(20px); }
  100% { opacity: 1; -o-transform: translateY(0); } }
@keyframes fadeInUp { 0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); } }
.fadeInUp { -webkit-animation-name: fadeInUp; -moz-animation-name: fadeInUp; -o-animation-name: fadeInUp; animation-name: fadeInUp; }

@media only screen and (max-width: 1200px) { #projects { width: 100%; } }
@media only screen and (max-width: 768px) { .navbar-flat li { display: inline-block; } }
@media only screen and (max-width: 765px) { .navbar-brand { display: block !important; } }
  .navbar-flat li { display: inline; }
  .timeline { background-position: 38px top; }
  .timeline li, .timeline .odd { margin: 0px 0 20px 43px; width: 85%; }
  .timeline .point, .timeline .odd .point { left: -32px; right: auto; }
  .timeline .timestamp, .timeline .bubble { float: left; }
  .timeline .bubble, .timeline .odd .bubble { margin: 0px 0 0 30px; width: 80%; padding: 22px 30px 25px 32px; }
  .timeline .bubble-arrow { background-position: right top; left: -10px; right: auto; } }