{{- if isset .Site.Params "giscus" -}}
{{- if and (isset .Site.Params.giscus "repo") (not (eq .Site.Params.giscus.repo "" )) (eq (.Params.disable_comments | default false) false) -}}
<script src="https://giscus.app/client.js"
        data-repo="sumit4613/sumit4613.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkxNzg0NTk0MDg="
        data-category="General"
        data-category-id="DIC_kwDOCqMTEM4CplMO"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{{- end -}}
{{- end -}}